// Colores
$color-primario: #ffb703;   // Amarillo Maíz
$color-secundario: #602410; // Café Frijol/Pupusa
$color-oscuro: #212529;     // Texto
$color-claro: #f8f9fa;      // Fondo

// Tipografías
$fuente-principal: 'Arial', sans-serif;
